<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <app-navegacion></app-navegacion>
    <app-navegaciongeneral></app-navegaciongeneral>
    <router-outlet></router-outlet>

    <!-- Footer -->

    <div class="mt-5 pt-5 pb-5 footer" style="background:#25274D">
        <div class="container" style="color:white">
          <div class="row">
            <div class="col-lg-5 col-xs-12 about-company">
              <h2>Acquerello</h2>
              <p class="pr-5 text-white-50">Te mereces un momento especial, y nosotros queremos llevar Italia a tu mesa </p>
              <p><a href="#"><i class="fa fa-facebook-square mr-1"></i></a><a href="#"><i class="fa fa-linkedin-square"></i></a></p>
            </div>
            <div class="col-lg-3 col-xs-12 links">
              <h4 class="mt-lg-0 mt-sm-3" >Bienvenido</h4>
                <ul class="m-0 p-0">
                  <li><a href="registrarse" style="color:white">Regístrate</a></li>
                  <li><a href="iniciarSesion" style="color:white">Iniciar Sesión</a></li>
                  <li><a href="contacto" style="color:white">Contáctanos</a></li>
      
                </ul>
            </div>
            <div class="col-lg-4 col-xs-12 location">
              <h4 class="mt-lg-0 mt-sm-4">Dirección</h4>
              <p>Cl. 122 #15a-24, Bogotá,</p>
              <p class="mb-0"><i class="fa fa-phone mr-3"></i>(+57) 313 3320501</p>
              <p><i class="fa fa-envelope-o mr-3"></i>acquerello@ristorante.com</p>
            </div>
          </div>
        </div>
        </div>
</body>
</html>

