<nav class="navbar navbar-expand-lg navbar-light" style="background-color:#25274D;">
    <div class="container-fluid">
      <a  href="#"> <img src="assets/LogoAquerello1.png" width="130" height="50"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="color: snow;">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/" href="#"  style="color: snow;">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/carta" style="color: snow;">Carta</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contacto" style="color: snow;">Contactanos</a>
          </li>
        </ul>
      </div>
    </div>
</nav>